@charset "UTF-8";

.bh .header_wrap {
	position: relative;
	width: 100%;
	background-color: var(--bh_color_bg_sub);
	border-bottom: 1px solid var(--bh_color_gray_200);
	box-shadow: 1px 2px 4px 1px rgba(0, 0, 0, 0.03);
	z-index: 3;
  }
  .bh .header_wrap.ab {
	position: absolute;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.26);
	border-bottom: 0;
  }
  
  .bh .header_top {
	position: relative;
	background-color: var(--bh_color_gray_100);
	border-bottom: 1px solid var(--bh_color_gray_200);
  }
  .bh .header_top .top_menu {
	float: right;
  }
  .bh .header_top .top_menu > ul {
	list-style-type: none;
	overflow: hidden;
	padding: 4px 0;
	margin: 0 auto 2px auto;
  }
  .bh .header_top .top_menu > ul > li {
	float: left;
	text-align: center;
  }
  .bh .header_top .top_menu > ul > li > a {
	color: var(--bh_color_gray_600);
	font-size: 13px;
	font-weight: 300;
  }
  .bh .header_top .top_menu > ul > li > a:hover {
	color: var(--bh_color_gray_900);
  }
  .bh .header_top .top_menu > ul > li > a::after {
	content: "|";
	display: inline-block;
	color: var(--bh_color_gray_300);
	vertical-align: top;
	font-size: 12px;
	padding: 0 10px 0 10px;
	margin-top: 4px;
  }
  .bh .header_top .top_menu > ul > li:last-child > a::after {
	content: "";
	padding-right: 0;
	padding-left: 0;
  }

  .bh .header_top.style-black .top_menu > ul > li > a {
	color: #ececec;
	font-size: 1.3rem;
  }
  .bh .header_top.style-black .top_menu > ul > li > a:hover {
	color: #ffffff;
  }
  .bh .header_top.style-black .top_menu > ul > li > a::after {
	content: "|";
	display: inline-block;
	color: #e0e0e0;
	vertical-align: top;
	font-size: 1.2rem;
	padding: 0 10px 0 10px;
	margin-top: 4px;
  }
  .bh .header_top.style-black .top_menu > ul > li:last-child > a::after {
	content: "";
	padding-right: 0;
	padding-left: 0;
  }
  
  .bh .header {
	position: relative;
  }
  
  .bh .logo {
	float: left;
	height: 50px;
	margin: 25px 0;
  }
  .bh .logo a {
	display: inline-block;
	color: var(--bh_color_text);
  }
  .bh .logo a img {
	vertical-align: top;
  }

  /* Menu */

.bh .menu_wrap ul {
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
}
.bh .menu_wrap > ul > li {
  display: inline-block;
  text-align: center;
  /*position: relative;*/
}
.bh .menu_wrap .menu_dropdown-content {
  display: none;
  position: absolute;
}
.bh .menu_wrap .menu_dropdown-content ul {
  display: none;
}

.menu_wrap .menu_dropdown:hover > .menu_dropdown-content, .menu_wrap .menu_dropdown:active > .menu_dropdown-content, .menu_wrap .menu_dropdown:focus > .menu_dropdown-content, .menu_wrap .menu_dropdown a:hover ~ .menu_dropdown-content, .menu_wrap .menu_dropdown a:active ~ .menu_dropdown-content, .menu_wrap .menu_dropdown a:focus ~ .menu_dropdown-content, .menu_wrap .menu_dropdown menu_dropdown-content:hover, .menu_wrap .menu_dropdown menu_dropdown-content:active, .menu_wrap .menu_dropdown menu_dropdown-content:focus {
  display: block;
}

.bh .main_menu {
  position: relative;
  background: none;
  z-index: 2;
  left: 30px;
}
.bh .main_menu > ul > li::after {
  content: "|";
  color: #e0e0e0;
  display: inline-block;
  vertical-align: middle;
  margin-top: -7px;
  font-size: 12px;
}
.bh .main_menu > ul > li:last-child::after {
  content: "";
}
.bh .main_menu > ul > li::after {
  content: "";
  position: absolute;
  top: 34px;
  left: 0;
  display: block;
  width: 1px;
  height: 12px;
  background: #929292;
  display: none;
}
.bh .main_menu > ul > li:first-child::after, .bh .main_menu > ul > li:last-child::after {
  display: none;
}
.bh .main_menu > ul > li > a {
  display: inline-block;
  color: var(--bh_color_text);
  /*font-family: 'NanumSquare'!important;*/
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0rem;
  text-align: center;
  line-height: 1;
  padding: 25px 22px 18px 23px;
  -webkit-transition: all 100ms;
  -moz-transition: all 100ms;
  -o-transition: all 100ms;
  -ms-transition: all 100ms;
  transition: all 100ms;
}
.bh .main_menu > ul > li > a:hover {
  color: #194f90;
}
.bh .main_menu > ul > li > a:hover::after {
  transform: scale3d(1, 1, 1);
  transform-origin: 0% 50%;
}
.bh .main_menu > ul > li > a::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: #194f90;
  margin-top: 5px;
  transition: transform 0.5s cubic-bezier(0.8, 0, 0.2, 1);
  transform: scale3d(0, 1, 1);
  transform-origin: 100% 50%;
}
.bh .main_menu > ul > li > a > i {
  display: inline-block;
  vertical-align: middle;
  margin-top: -4px;
  margin-right: 5px;
}
.bh .main_menu > ul > li:not(.fl-r):last-child > a {
  padding-right: 0;
}
.about_us .li1 > a,
.services .li2 > a,
.contact_us .li3 > a,
.bh .main_menu > ul > li.active > a {
  color: #194f90 !important;
}
.about_us .li1 > a::after,
.services .li2 > a::after,
.contact_us .li3 > a::after,
.bh .main_menu > ul > li.active > a::after {
  transform: scale3d(1, 1, 1) !important;
  transform-origin: 0% 50% !important;
}

.bh .main_menu .menu_dropdown-content {
  display: none;
  position: absolute;
  min-width: 155px;
  background-color: #fff;
  z-index: 1000;
  filter: alpha(opacity=95);
  opacity: 0.95;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  padding: 10px 0;
  white-space: nowrap;
}
.bh .main_menu .menu_dropdown-content > li {
  position: relative;
  padding: 0 10px;
}
.bh .main_menu .menu_dropdown-content > li > a {
  display: inline-block;
  width: 100%;
  color: var(--bh_color_gray_700);
  text-align: left;
  line-height: 1;
  padding: 11px 35px 11px 10px;
}
.bh .main_menu .menu_dropdown-content > li > a:after {
  position: absolute;
  top: 14px;
  right: 15px;
  content: "î˜";
  font-family: "xeicon";
  font-size: 13px;
  text-decoration: none;
  padding: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.bh .main_menu .menu_dropdown-content > li > a:only-child:after {
  content: "";
}
.bh .main_menu .menu_dropdown-content > li:hover > a {
  color: #fff;
  background-color: #0052cc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.bh .main_menu .menu_dropdown-content > li:hover > a:after {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.bh .main_menu .menu_dropdown-content ul {
  display: none;
  top: -10px;
  right: auto;
  left: 100%;
  margin-left: 1px;
}


/* login, logout */
.login_wrap {
  position: relative;
  top: -2.5px;
}
.login_wrap ul {
  display: flex;
  align-items: center;
}
.login_wrap ul .login_btn::after {
  content: '';
  display: inline-block;
  width: 4px;
  height: 4px;
  opacity: 0.3;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 0 10px;
  border-radius: 50%;
  position: relative;
  bottom: 2.5px;
}
.login_wrap span {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
}

/* mobile header */
.mobile_header_wrap {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.mobile_header_top {
  position: relative;
  width: 100%;
  height: 50px;
  left: 0;
  top: 0;
  z-index: 6;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.mobile_header_top .mobile_logo {
  position: relative;
  top: 50%;
  height: 29px;
  font-size: 20px;
  line-height: 29px;
  text-align: center;
  margin: 0 50px;
  transform: translateY(-50%);
}
.mobile_header_top .mobile_logo > a {
  display: inline-block;
  height: 100%;
  color: var(--bh_color_text);
  margin: 0;
}
.mobile_header_top .mobile_logo img {
  max-width: 100%;
  height: 100%;
  vertical-align: top;
}
.mobile_header_top .mobile_menu_btn {
  position: absolute;
  top: 13px;
  right: 15px;
  height: 24px;
  width: 24px;
}
.mobile_header_top .mobile_menu_btn img {
  max-width: 100%;
}
.mobile_header_top .mobile_menu_btn i {
  color: var(--bh_color_gray_800);
  font-size: 24px;
  line-height: 1;
}
.mobile_header_top .mobile_act_btn {
  position: absolute;
  top: 13px;
  right: 13px;
  height: 24px;
  width: 24px;
}
.mobile_header_top .mobile_act_btn img {
  max-width: 100%;
}
.mobile_header_top .mobile_act_btn i {
  font-size: 24px;
  line-height: 1;
}
.mobile_header_top .mobile_act_btn.mobile_menu_search {
  top: 13px;
  right: 13px;
  height: 24px;
  width: 24px;
}
.mobile_header_top.mobile_header_dark, .mobile_header_top:not(.bh_bg_color_white) {
  color: #ffffff;
}
.mobile_header_top.mobile_header_dark .mobile_logo > a, .mobile_header_top:not(.bh_bg_color_white) .mobile_logo > a {
  color: #ffffff;
}

/* mobile_main_menu */
.bh .mobile_main_menu {
  margin-top: 20px;
}
.mobile_main_menu { margin-top: 20px; }

.bh .mobile_main_menu>ul>li {
	position: relative;
    border-bottom: 1px solid var(--bh_color_gray_300);
}
.bh .mobile_main_menu>ul>li>a {
    display: block;
    padding: 13px 30px 13px 20px;
    color: var(--bh_color_gray_800);
    font-size: 16px;
    letter-spacing: -1px;
    border-radius: 0;
}
.bh .mobile_main_menu > ul > li > .bh_toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: var(--bh_color_gray_700);
    font-size: 18px;
    text-align: right;
    background: none;
    border: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: none;
    z-index: 2;
}
.bh .mobile_main_menu > ul > li > .bh_toggle i {
  padding: 0px 20px 20px 11px;
  color: var(--bh_color_gray_800);
  position: relative;
  font-size: 25px;
  top: 4px;
}
.bh .mobile_main_menu > ul > li > .bh_toggle > .bh_toggle_up {
  display: none;
}
.bh .mobile_main_menu > ul > li.active > a {
  color: var(--bh_color_black);
  font-weight: 700;
}
.bh .mobile_main_menu > ul > li.active > .bh_toggle {
  color: var(--bh_color_gray_900);
}
.bh .mobile_main_menu > ul > li.active > .bh_toggle > .bh_toggle_down {
  display: none;
}
.bh .mobile_main_menu > ul > li.active > .bh_toggle > .bh_toggle_up, .bh .mobile_main_menu > ul > li.active > a + ul {
  display: block;
}
.bh .mobile_main_menu > ul > li > a + ul {
  display: none;
  background-color: #f4f6f7;
  padding: 10px 0;
}
.bh .mobile_main_menu > ul > li > a + ul > li {
  border: unset !important;
}
.bh .mobile_main_menu > ul > li > a + ul > li > a {
  display: block;
  color: var(--bh_color_gray_700);
  font-size: 15px;
  letter-spacing: -1px;
  padding: 13px 20px;
}
.bh .mobile_main_menu > ul > li > a + ul > li.active > a {
  color: var(--bh_color_main);
  font-weight: 700;
}
.bh .mobile_main_menu > ul > li > a + ul > li > ul {
  background-color: #fbfbfb;
  border: 1px solid #eeeeee;
  padding: 10px;
  margin: 0 20px 10px 28px;
}
.bh .mobile_main_menu > ul > li > a + ul > li > ul > li > a {
  display: block;
  color: #616161;
  font-size: 15px;
  letter-spacing: -1px;
  padding: 3px 2px;
}

.color_scheme_dark .bh .mobile_main_menu > ul > li > a + ul {
  background-color: var(--bh_color_bg_main);
}
.color_scheme_dark .bh .mobile_main_menu > ul > li > a + ul > li > ul {
  background-color: var(--bh_color_bg_sub);
  border-color: transparent;
}


@media(max-width:1450px) {
    .bh .main_menu {
        width: 90%;
    }
}
@media(max-width:1250px) {
    .bh .main_menu {
        width: 80%;
    }
}
@media(max-width:1150px) {
    .bh .main_menu {
        width: 70%;
    }
}
@media(max-width:992px) {
  .header_wrap {
    display: none;
  }
  .mobile_header_wrap {
    display: flex;
    align-items: center;
  }
  header .mobile_header_wrap nav {
    width: 100%;
    position: relative;
    padding: 0 15px;
  }
  header .mobile_header_wrap nav a:first-child {
    display: block;
    margin: auto;
    text-align: center;
  }
  header .mobile_header_wrap nav .logo {
    width: 182px;
    position: relative;
    top: 4px;
  }
  header .mobile_header_wrap nav a:last-child {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }

  header .mobile_header_wrap nav .hamburger {
    width: 36px;
  }
}
@media(max-width:992px) {
  .bh_layer_body ul li{
    padding: 0;
  }
  .mobile_main_menu{
    margin-top: 0;
  }
  .bh_layer_close i{
    font-size: 18px;
  }
}


/**/
.bh.login .header_wrap {
  background-color: var(--bh_color_white);
  border-bottom: 1px solid var(--bh_color_gray_300);
}
.bh.login .header_wrap .logo_img.d_ver {
  display: block;
}
.bh.login .header_wrap .logo_img.w_ver {
  display: none;
}
.bh.login .main_menu > ul > li > a {
  color: #424242;
}
.bh.login .main_menu > ul > li > a:hover {
  color: #424242 !important;
}
.bh.login .header_wrap .main_menu > ul > li > a::after {
  background-color: var(--bh_color_gray_800);
}
.bh.login .header_wrap .login_wrap span {
  color: var(--bh_color_gray_800);
}
.bh.login .header_wrap .login_wrap ul .login_btn::after {
  background-color: var(--bh_color_gray_800);
}